form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  background: linear-gradient(135deg, #cfd9df, #e2ebf0); /* Light grey to soft blue */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

h3 {
  text-align: center;
  color: #d6e4f1;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: 500;
  color: #030303;
}

input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #e9f72c;
  background-color: #f0f9ff;
}

.form-action {
  text-align: center;
  margin-top: 2rem;
}

.form-action button {
  padding: 10px 24px;
  font-size: 1rem;
  background-color: #e9f724;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-action button:hover {
  background-color: #f3f72b;
}
select {
  width: 100%;
  padding: 0.6rem 0.8rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 1rem;
  transition: border-color 0.3s;
}

select:focus {
  outline: none;
  border-color: #dff32e;
  background-color: #f0f9ff;
}
.rental-packages {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.radio-option {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  user-select: none;
}

.radio-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.radio-option input:checked ~ .custom-radio {
  background-color: #f0ec22;
  border-color: #080808;
}

.custom-radio::after {
  content: "";
  position: absolute;
  display: none;
}

.radio-option input:checked ~ .custom-radio::after {
  display: block;
}

.radio-option .custom-radio::after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  position: absolute;
}
