.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.below{
  margin-top: 1.5rem;
  text-align: center;
  font-size: 18px;
  border-top: 0.3px dashed rgba(255, 255, 255, 0.226);
  padding-top: 1rem;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  color: #bbb;
}

.footer-column ul li a {
  color: #90cdf4;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column p {
  color: #ccc;
  line-height: 1.5;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}

.footer-bottom .powered {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 2px 6px;
}

.mobile{
  display: none;
}
.pc{
  display: inline-block;
}
.img{
  width: 100%;
height: auto;
}
.img img{
  width: 100%;
}

@media  (max-width:768px) {
  .below{
    font-size: 12px;
    font-weight: 200;
  }
  .mobile{
    display: inline-block;
  }
  .pc{
display: none;
  }
}
.text {
  max-width: 100%;
  font-size: 0.7;
  /* line-height: 1.7; */
  /* text-align: center; */
  color: #fbfbfc;
}

 .text strong {
  color: #eaf820;
  font-size: 1rem;
}