<div class="con">
    <div class="first">
        <img src="assets/booking.png" alt="">
        <p>Easy Online Bookings</p>
    </div>
    <div class="second">
        <img src="assets\driver.png" alt="">
        <p>Professinal Divers</p></div>
    <div class="third">
        <img src="assets/prime.png" alt="">
        <p>Variety of Prime Brands</p></div>
    <div class ='fourth'>
        <img src="assets/secure.png" alt="">
        <p>Secure Online Payments</p>
    </div>
     <div class ='fifth'>
        <img src="assets/24hr.png" alt="">
        <p>24/7 customer Service</p>
    </div>
      <div class ='fifth'>
        <img src="assets/gps.png" alt="">
        <p>GPS-Enabled Vehicles</p>
    </div>
</div>
<br> <br>
<div class="heading">
  <div class="subtext">Comfort  •  Safety  •  Service</div>
  <h2>
    What makes <br>
     <span class="highlight">RVS Tours & Travels </span>
    your best choice?
  </h2>
</div>

<div class="grid">
  <div class="card wide">
    <img src="assets/Airport Cab Service (20).png" alt="Management" />
    <h3>Corporate Cab Services</h3>
    <p>
      Nava Cabs offers reliable and professional corporate cab services in Bangalore, designed for your daily employee commutes, business meetings, client visits, airport transfers, and long-term travel contracts.
    </p>
  </div>
  <div class="card">
    <img src="assets/Airport Cab Service (19).png" alt="Flexibility" />
    <h3> Professional Drivers</h3>
    <p>
      Experienced, courteous, and well-trained chauffeurs ensuring safe and smooth journeys.
    </p>
  </div>

 



  <div class="card ">
    <img src="assets/steamline.png" alt="Support" />
    <h3> Customized Tour Packages</h3>
    <p>
      Tailored travel plans to match your destination, budget, and schedule.
    </p>
  </div>
  <div class="card wide wider">
    <h3> Wide Variety of Car Segments</h3>
    <p>
    from sedans to SUVs and MPVs, we have the perfect ride for every trip
    </p>
    <img src="assets/SJ CABS - BANGALORE (1).png" alt="Fleet of Cars" />
  </div>
</div>
