.con {
  height: 40vh;
  background-image: url('/assets/banner2.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top:120px ;
  display: flex;
  align-items: center;
  
}
.con::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.con h1{
    color: white;
    margin-left: 5%;
    font-size: 45px;
    z-index: 4;
     text-shadow: 0 0 10px rgb(238, 238, 51);
}
@media screen and (max-width:766px) {
  .con{
    height: 30vh;
    padding-bottom: 2rem;
  }
}