<div class="con">
    <h1 class="animate-on-scroll">Our Services</h1>
</div>
 <p class="description">At <strong>RVS Tours & Travels</strong>, we go beyond just car rentals — we deliver travel experiences across South India with <strong> comfort, safety, and reliability</strong>. Whether you're heading for a <strong>business trip, a family vacation, a pilgrimage, or a weekend escape</strong>, we've got the perfect ride and route for you.</p>
 <app-sfirst (open)="openPopUP()"></app-sfirst>
 <app-ssecond></app-ssecond>

 @if(isPopUp){
    <app-call-now (close)="closePopUp()"></app-call-now>
 }