

<div class="cards">
    <div class="card">
        <h1>Our Mission:</h1>
        <ul>
            <li>To provide affordable and reliable cab services to all customers.
            </li>
            <li>To ensure safety, punctuality, and comfort in every ride.</li>
            <li>To create memorable travel experiences with professional services.</li>
            <li>To continuously expand our network and cover more destinations across India.</li>
        </ul>
    </div>
<div class="card">
    <h1>Our Vision:</h1>
    <p>
        To be the most trusted travel partner in Bangalore and South India, known for delivering safety, comfort, and customer satisfaction in every journey.
    </p>
</div>
<div class="card">
    <h1>Our Promise:</h1>
    <ul>
        <li>On-time pickup</li>
        <li>24/7 customer support</li>
        <li>Trusted by lakhs of happy customers</li>
        <li>Well-Trained, Verified Drivers</li>
        <li>Clean & Sanitized Vehicles </li>
        <li>Transparent & Competitive Pricing </li>
        <li>Wide Range of Vehicles </li>
        <li>Commitment to Customer Satisfaction</li>
    </ul>
</div>

</div>