 .text {
  padding: 2rem 1rem;
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.7;
  text-align: center;
  color: #fbfbfc;
}

 .text strong {
  color: #eaf820;
  font-size: 1.3rem;
}

 .text ul {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  max-width: 500px;
  text-align: left;
}

 .text ul li {
  position: relative;
  margin: 0.6rem 0;
  padding-left: 1.5rem;
  font-size: 1.05rem;
  color: #eaeaea;
}

 .text ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #ffd60a;
  font-weight: bold;
}