<!-- index.component.html -->
<div class="con">
  <div class="text">
    <h1 class="animate-on-scroll" style="font-size: 45px;">RVS Tours & Travels – Bangalore</h1>
    <h4 class="animate-on-scroll">Explore. Experience. Enjoy with RVS</h4>
    <br />
    <p class="animate-on-scroll">
     Premium car rental sevice in Bangalore for local & Outstation trips. Safe, affordable, and available24/7.
    </p>
   <div class="cards">
    <div class="card1">
      <img src="assets/hCard1.png" alt="">
      <p>500+ Vehicles</p>
    </div>
    <div class="card2">
      <img src="assets/hCard2.png" alt="">
      <p>150+ Destinations</p>
    </div>
    <div class="card3">
      <img src="assets/hCard3.png" alt="">
      <p>18 Years of Experience</p>
    </div>
    <div class="card4">
      <img src="assets/hCard4.png" alt="">
      <p>1 lakh+ Trips</p>
    </div>
    <div class="card5">
      <img src="assets/hCard5.png" alt="">
      <p>24/7 Customer Support</p>
    </div>
      <div class="card5">
      <img src="assets/hCard6.png" alt="">
      <p>Professional Drivers</p>
    </div>
   </div>
  </div>
</div>
